@import 'style';

header {
  text-align: center;
  position: sticky;
  top:0;
  left: 0;
  width: 100%;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 0 0 1em 1em;
  margin: 0 0 1em 0;
  padding: 0.5em 0em 0.5em 0em;
  line-height: 2em;
  overflow: hidden;
  border-top: none;
  font-size: x-large;
  background: #e6dbd0bd;
  z-index: 10;
  #Camelia_bug {
      width: 100px;
      height: 48px;
      float: left
  }
}
kbd {
    font-family: "Droid Sans Mono", "Luxi Mono", "Inconsolata", monospace;
}
samp {
    font-family: "Terminus", "Courier", "Lucida Console", monospace;
}
u {
    text-decoration: none;
}
.nested {
    margin-left: 3em;
}
.glossary-entry {
    color: brown;
    background-color: #c3d92b3d;
    border-radius: 5px;
}


footer.pretty-box {
 padding:5px;
 text-align:center;
 font-size:80%;
 margin:0 auto 20px;
 p {
    margin:3px 0;
 }
}
.toc-glossary {
 float: left;
}
table#TOC {
 border-collapse:collapse;
 margin:0 0 0 12pt;
 caption {
     text-align:left;
     font-size:120%;
     font-weight: bold;
    }
    tr {
     background-color:transparent;
    }
    td {
         padding:0.25pt 5pt 0 0;
         font-size:11pt;
    }
    tr.toc-level-1:first-child td {
        padding-top:0;
    }
    td.toc-text {
         position:relative;
         left:6pt;
    }
    tr.toc-level-1 td {
         padding-top:4pt;
         font-weight:bold;
    }
    tr.toc-level-1 td.toc-text {
         position:relative;
         left:0;
    }
    tr.toc-level-2 td {
        padding-top:3pt;
    }
    tr.toc-level-3 td {
         padding-top:2pt;
         font-size:0.9em;
    }
    tr.toc-level-3 td.toc-text {
     padding-left:12px;
    }
    tr.toc-level-4 td {
         padding-top:2pt;
         font-size:0.8em;
    }
    tr.toc-level-4 td.toc-text {
     padding-left:16px;
    }
    td.toc-number {
        display:none;
    }
    code {
     color:black;
    }
}

table#Glossary {
 border-collapse:collapse;
 margin:40px 0 0 12pt;
 caption {
         text-align:left;
         font-size:120%;
         font-weight: bold;
    }
    tr {
        background-color:transparent
    }
    td {
         padding:0.25pt 5pt 0 0;
         font-size:11pt
    }
    th {
        text-align: left;
        padding: 0 0 0 10px;
    }
}
@media (max-width: 560px) {
 table#TOC tr[class^=toc-level] td {
  padding:8px 0;
 }
 table#TOC tr.toc-level-1 td {
  padding-top:18px;
 }
}

footer {
  display: flex;
  align-content: space-between;
  padding: 30px;
  background-color: #e6dbd0;
  justify-content: space-evenly;
  font-size: medium;
  border-radius: 10px;
  .path {
    color: red;
  }
  .time {
    color: #3800ff;
  }
}

