@import 'highlights';

.pod {
    padding: 0;
    margin: 0;
}
.pod-content    {
    border: #F2C100 0.2em solid;
    margin: 1em;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 1em #888888;
    dt {
        font-weight: bold;
        margin-bottom: 0.2em;
    }
    dd {
        margin-bottom: 1em;
    }
    h1, h2, h3, h4, h5, h6 {
        a {
            color: black;
        }
    }
    h1 {
        padding-top: 0.25em;
    }
}
.pod-table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.031373);
}

header {
    text-align: center;
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0 0 1em 1em;
    margin: 0 0 1em 0;
    padding: 0.5em 0em 0.5em 0em;
    line-height: 0.75em;
    overflow: hidden;
    border-top: none;
    font-size: x-large;
    background: #e6dbd0bd;
    z-index: 10;
    #Camelia_bug {
      width: 100px;
      height: 48px;
      float: left
    }
}
kbd {
    font-family: "Droid Sans Mono", "Luxi Mono", "Inconsolata", monospace;
}
samp {
    font-family: "Terminus", "Courier", "Lucida Console", monospace;
}
u {
    text-decoration: none;
}
a {
    text-decoration: none;
}

pre {
    background-color: rgba(120, 60, 0, 0.045);
    border: 1px solid #CFCFCF;
    padding: 0.6ex;
    color: black;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-all; }

nav {
    display: grid;
    grid-gap: 0.75em;
    width: 25vw;
    padding: 0.75em;
    border-radius: 1em;
    background-color: #bbb7b245;
    float: left;
    margin: 0 0.75em 0.7em 0;
}
#_TOC {
    grid-row: 1;
}
#_Glossary {
    grid-row: 2;
}

.glossary {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    border-radius: inherit;
    padding: 15px;
    background-color: inherit;
    > * > a {
        text-decoration: none;
        color: navy;
    }
}
.glossary-caption {
    grid-column: 1 / span 3;
    justify-self: center;
    font-size:120%;
    font-weight: bold;
}
.glossary-defn {
    grid-column: 1 / span 2;
    font-size:11pt;
    line-height: 1.1;
    margin-top: 0.4em;
    color: brown;
    &.header {
        font-weight: bold;
    }
}
.glossary-place {
    grid-column: 2 / span 2;
    line-height: 1.1;
    &.header {
        font-weight: bold;
        color: navy;
    }
}
#_TOC {
    border-collapse: collapse;
    border-radius: inherit;
    background-color: inherit;
    padding: 15px;
    color: black;
    caption {
        text-align: center;
        font-size: 120%;
        font-weight: bold;
    }
    tr {
        padding: 0.25pt 5pt 0 0;
        font-size: 11pt;
        td a {
            text-decoration: none;
            color: navy;
        }
        &.toc-level-1 td {
            padding-top: 4pt;
            font-weight: bold;
            position: relative;
            left: 0;
            &:first-child td {
                padding-top: 0;
            }
        }
        &.toc-level-2 td {
            padding-top: 3pt;
            position: relative;
            left: 6px;
        }
        &.toc-level-3 td {
            padding-top: 2pt;
            font-size: 0.9em;
            position: relative;
            left: 8px;
        }
        &.toc-level-4 td {
            padding-top: 2pt;
            font-size: 0.8em;
            position: relative;
            left: 10px;
        }
    }
}
.subtitle {
    font-style: italic;
    text-align: center;
}
footer {
    padding: 5px;
    text-align: center;
    font-size: 80%;
    margin: 0 1em 1em;
    border-color: #F2C100;
    background-color: #F5EF7B;
    border-radius: 1em;
    border-style: solid;
    box-shadow: 0.5em 0.5em 1em #888888

    p {
        margin: 3px 0;
    }
}
.footnotes {
    border-style: solid;
    border-color: blue;
    border-radius: 1em;
}
.RakudocNoFormatCode {
	border-width: 1px;
	border-style: inset;
	border-color: chocolate;
	border-radius: 5px;
	span:nth-of-type(1) {
	    color: red;
	    font-weight: bold;
	}
}
.RakudocError {
  border-style: solid;
  border-color: red;
  border-radius: 0.5em;
  border-width: 1px;
  margin: 0.5em -0.5em -0.5em;
  legend {
    color: red;
    font-size: small;
  }
  fieldset {
    display: flex;
    border-style: solid;
    border-color: blue;
    border-radius: 0.5em;
    border-width: 1px;
    legend { color: blue; }
  }
}
.pod-output {
    font-family: "Lucida Console", "Courier New", monospaced;
    font-weight: 600;
}
.pod-input {
    font-family: "Monaco", "Lucida Console", "Courier New", monospaced;
    font-weight: 300;
}
.pod-nested {
    margin: 0.25rem 0 0.25rem 1rem;
}